<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section style="display:block;max-width:600px;width:100%;margin:0 auto;">

    <h1>{{title}}</h1>
    <form action="{% url 'reverse' %}">
        <textarea style="display:block;margin-bottom:20px;width:100%" rows="10" cols="50" name="user_text"></textarea>
        <button type="submit">Reverse</button>
    </form>

    {{result}}
</section>

</body>
</html>