<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Reversed text</h1>
<div>
    <h2>Original text has {{words_len}} words</h2>
    <p>{{user_text}}</p>
</div>
<div>
    <h2>Reversed text</h2>
    <p>{{reversed}}</p>
</div>

</body>
</html>